<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Default Page</title>
</head>
<body>
    <% if (user) {%>
        <main>
            <div style="display: flex; align-items: center; column-gap: 20px;">
                <h1><%= user.first_name %> <%= user.family_name %></h1>
                <form action="/members-only/:id/message" method="GET">
                    <button style="text-align: center;padding: 10px; cursor: pointer;">WRITE A MESSAGE</button>
                </form>
            </div>
            <h3 style="margin: 0;">Type of Membership: <%= user.membership_status %></h3>
            <hr /><br />
    
            <!-- MESSAGE BOARD -->
            <div style="padding-right: 50px;">
                    <ul style="list-style-type: none; display: flex; flex-direction: column;">
                        <% messages.forEach(message => { %>
                            <% let color = (message.user_membership_status === 'Administrator') ? "red" :(message.user_membership_status === 'Elite') ? "navy" : 'black' %>
                            <section style="margin:5px; border: solid 1px black;padding: 2px 4px;">
                                <div style="padding-top: 3px;">
                                    <li>Message from: 
                                        <span style="font-weight:bold; color:<%=color%>"><%=message.user_name%> (<%=message.user_membership_status%>)</span>
                                    </li>
                                    <li>Date/Time of Writing: <%= message.timestamp %></li>    
                                </div>
                                <hr />
                                <div style="padding-bottom: 5px;">
                                    <li style="font-weight: bold;">Title: <%=message.title%></li>
                                    <li><%=message.message%></li>    
                                </div>
                            </section>
                        <% }); %>
                    </ul>    
            </div>
    
            <div>
                <% if(user.membership_status === 'Administrator') { %>
                    <!-- HERE IS THE PAGE OF THE ADMINISTRATOR-->
                    <h2> Welcome, Admin!</h2>
    
                <%}else if(user.membership_status === 'Elite')  { %>
                    <!-- HERE IS THE PAGE OF THE ELITE MEMBERS-->
                    <h2> Welcome, Elite Member!</h2>
    
                <%}else {%>
                    <form action="/elite-member" method="POST">
                        <label for="passcode">Already part of the Club? Enter the Passcode here: </label>
                        <input name="passcode" placeholder="passcode..." type="password" />
                        <button>Enter</button>
                    </form>            
                <% } %>
                <br />
                <a href="/logout" >LOG OUT</a>    
            </div>    
        </main>



  <% } else { %>
        <h1>Please log in</h1>
        <form action="login" method="POST">
            <label for="username">Username </label>
            <input name="username" placeholder="username" type="text" />
            <label for="password">Password</label>
            <input name="password" type="password" />
            <button>Log in</button>
        </form>
        <br><br>
        <a href="/sign-up">SIGN UP!</a>
    <%}%>
</body>
</html>